.presentation {
  margin-bottom: 30px;
  background: url('./img/04.jpg') no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

.presentation::after {
  content: 'Лучшие товары для вашего дома';
  position: absolute;
  top: 100px;
  left: 70px;
  width: 400px;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.presentation::before {
  content: 'из натуральных материалов';
  position: absolute;
  top: 300px;
  left: 70px;
  width: 300px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}



.textContainer div:first-child {
  margin-top: 30px;
}

.textContainer div {
  margin-bottom: 20px;
  line-height: 24px;
}
