.detailsContainer {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: space-between;
  margin: 20px 24px;
}

.imageContainer {

}

.infoContainer {

}

.price {

}

h2 {
  margin-bottom: 32px;
  font-weight: 500;
}

.description {
  font-size: 18px;
  line-height: 32px;
}