.detailsContainer {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: space-between;
  margin: 20px 24px;
}

.imgContainer {
  width: 40%;
}

.imgEl {
  width: 100%;
}

h2 {
  margin-bottom: 32px;
  font-weight: 500;
}

.description {
  font-size: 18px;
  line-height: 32px;
}

.addCart {
  width: 50%;
  padding: 12px 0;
  margin-top: 60px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}