.product {
  max-width: 250px;
  margin-bottom: 50px;
  position: relative;
}

.productImgWrapper {
  position: relative;
  overflow: hidden;
}

.lastUnits {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  z-index: 2;
}

.productOutOfStock img {
  opacity: 0.4;
}

.productOutOfStock::after {
  content: 'Нет в наличии';
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 20px;
  color: #565553;

  background: rgba(255, 255, 255, 0.6);
  z-index: 2;
  pointer-events: none;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px;
  cursor: pointer;
}

.productTitle {
  margin: 10px 2px;
  color: #333;
}

img {
  width: 100%;
  display: block;
}

.carouselContainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  .carouselSlide {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

.carouselImg {
  width: 100%;
  max-height: 400px;
  object-fit: contain; //чтобы картинку не обрезало
  cursor: pointer;
}

.priceQuantityWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.productQuantitySelector {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  width: 22px;
  border-radius: 18px;
  color: #fff;
  height: 20px;
  padding: 4px;
  font-size: 14px;
}

.minus, .plus {
  font-size: 12px;
  margin: 0 12px;
  cursor: pointer;
}

.hiddenPlus {
  margin: 0 12px;
  visibility: hidden;
}
