.product {
  width: 250px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
}

.productTitle {
  margin: 10px 2px;
  color: #333;
}

img {
  width: 100%;
  display: block;
}

.carouselContainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  .carouselSlide {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

.carouselImg {
  width: 100%;
  max-height: 400px;
  object-fit: contain; //чтобы картинку не обрезало
  cursor: pointer;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px;
  cursor: pointer;
}

.priceQuantityWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.productQuantitySelector {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  width: 22px;
  border-radius: 18px;
  color: #fff;
  height: 20px;
  padding: 4px;
  font-size: 14px;
}

.minus, .plus {
  font-size: 12px;
  margin: 0 12px;
  cursor: pointer;
}
