.addNewProductContainer, .editProductContainer {
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-content: center;
}

.title {
  margin-top: 24px;
  margin-bottom: 40px;
}

.buttonsContainer {
  margin-top: 40px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  width: 1000px;
}
