.wrapper {
  display: flex;
  width: 100%;
}

.addNewProductContainer, .editProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1 1 auto;
  min-width: 0;
}

.title {
  margin-top: 24px;
  margin-bottom: 40px;
}

.buttonsContainer {
  margin-top: 40px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  width: 1000px;
}

.imgsGroup {
  display: flex;
  flex-direction: row;
}

.width100percent {
    width: 100% !important;
}