h2 {
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.cartContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: inherit;
}

.cartContainer {
  display: flex;
  flex: 1;
  height: 100%;
  max-height: 442px;
}

.messageEmptyCart {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-bottom: auto;
  margin-top: auto;
  padding-bottom: 44px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.shoppingOutlinedIcon {
  font-size: 48px;
  margin-bottom: 20px;
}

.cartIsEmpty {
  margin-bottom: 10px;
}

.toProducts {
  font-family: inherit;
  margin-top: 8px;
  min-width: 300px;
  padding: 20px;
  background: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.fullContainer {
  display: flex;
  flex-direction: row;
}

.products {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
}

.orderInfoContainer {
  width: 45%;
  height: 30%;
}

.orderInfoContainer h3 {
  margin-bottom: 10px;
}

.orderInfo {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 4px;
}

.orderInfo div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 6px;
}

.priceQuantityWrapper {
  margin: 0 2px 10px 2px;
  color: #333;
}

.productTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 105px;
}

.text {}
