* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

body {
  background: #fff;
  color: #222;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

main {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

footer {
  padding-top: 40px;
  text-align: center;
}

.selectOptionWithFullHeight {
  div[class='ant-select-item-option-content'] {
    white-space: normal !important;
    padding-right: 7px;
  }
}

