* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #222;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 1380px;
  margin: 50px auto;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 27px;
}

footer {
  text-align: center;
  margin-top: 100px;
}

.selectOptionWithFullHeight {
  div[class='ant-select-item-option-content'] {
    white-space: normal !important;
    padding-right: 7px;
  }
}

