header .logo {
  font-weight: 600;
  font-size: 32px;
}

header {
  padding: 10px 0 50px 0;
}

header ul.nav {
  float: right;
  list-style: none;
  font-size: 20px;
}

header ul.nav a {
  text-decoration: none;
  color: inherit;
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav a:hover {
  opacity: 0.5;
}

header ul.nav a .active {
  background-color: rgba(150, 150, 150, 0.41);
  border-radius: 4px;
  padding: 2px 8px;
}

.active {
  font-weight: 500;
}
